.home-group {
    border: solid 1px purple;
    width: 400px;
    /* text-align: center; */
    box-shadow: 5px 5px 5px 1px #cccccc;
  }
  
  .home-title {
    border-bottom: 1px solid black;
    padding-bottom: 14px;
    text-align: center;
  }
  
  #home-group-flex {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0px;
  }
  
  #assignment-details {
    margin: 5px;
  }
  
  #assignment-title {
    margin-top: 20px;
    background-color: rgb(194, 189, 189);
    color: white;
    border-radius: 2px;
    padding: 2px;
    font-weight: bold;
    text-align: center;
  }
  
  #due-date {
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
  }
  
  #notes-section {
    margin-top: 10px;
  }
  
  li {
    margin-left: 14px;
  }
  
  #class-view-flex {
    margin: 3px;
    /* outline: rgb(230, 113, 132) solid 2px; */
    height: 70vh;
  }
  
  .class-name {
    background-color: lavender;
    text-align: center;
  }

  