.home-group {
    border: solid 1px purple;
    width: 400px;
    /* text-align: center; */
    box-shadow: 5px 5px 5px 1px #cccccc;
  }
  
  .home-title {
    border-bottom: 1px solid black;
    padding-bottom: 14px;
    text-align: center;
  }
  
  #home-group-flex {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0px;
  }
  
  #assignment-details {
    margin: 5px;
  }
  
  #assignment-title {
    margin-top: 20px;
    background-color: rgb(194, 189, 189);
    color: white;
    border-radius: 2px;
    padding: 2px;
    font-weight: bold;
    text-align: center;
  }
  
  #due-date {
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
  }
  
  #notes-section {
    margin-top: 10px;
  }
  
  li {
    margin-left: 14px;
  }
  
  #class-view-flex {
    margin: 3px;
    /* outline: rgb(230, 113, 132) solid 2px; */
    height: 70vh;
  }
  
  .class-name {
    background-color: lavender;
    text-align: center;
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .alert .alert-link {
    font-weight: bold;
  }
  
  .alert > p,
  .alert > ul {
    margin-bottom: 0;
  }
  
  .alert > p + p {
    margin-top: 5px;
  }
  
  .alert-dismissable,
  .alert-dismissible {
    padding-right: 35px;
  }
  
  .alert-dismissable .close,
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
  
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
  .alert-success hr {
    border-top-color: #c9e2b3;
  }
  
  .alert-success .alert-link {
    color: #2b542c;
  }
  
  .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }
  
  .alert-info hr {
    border-top-color: #a6e1ec;
  }
  
  .alert-info .alert-link {
    color: #245269;
  }
  
  .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  
  .alert-warning hr {
    border-top-color: #f7e1b5;
  }
  
  .alert-warning .alert-link {
    color: #66512c;
  }
  
  .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  
  .alert-danger hr {
    border-top-color: #e4b9c0;
  }
  
  .alert-danger .alert-link {
    color: #843534;
  }