.title {
    text-align: center;
  }
  
  textarea {
    resize: none;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 1px 1px 1px #cecece;
  }
  
  #day-view-container {
    /* outline: 2px solid black; */
    height: 110vh;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  #input-field {
    outline: 2px solid rgb(211, 206, 206);
    width: 600px;
    height: auto;
    box-shadow: 5px 5px 5px 1px #cccccc;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
  }
  
  .mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
    padding: 25px;
  }
  /*This hides the radio button!*/
  .mytabs input[type="radio"] {
    display: none;
  }
  /*This adds the grey box*/
  .mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
  }
  
  .mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
  }
  .mytabs .tab h2 {
    font-size: 3em;
  }
  
  .mytabs input[type='radio']:checked + label + .tab {
    outline: 2px solid rgb(211, 206, 206);
    display: block;
  }
  
  .mytabs input[type="radio"]:checked + label {
    outline: 2px solid rgb(211, 206, 206);
    background: #fff;
  }
  
  .assignment label {
    padding: 4px;
    background: white;
  }
  
  .assessment {
    height: auto;
  }
  
  /*show the radio buttons*/
  .assessment input[type='radio'] {
    display: inline ;
  }
  /*get rid of the grey background*/
  .assessment label{
    padding: 4px;
    padding-right: 20px;
    background: white;
    display: inline-block !important;
  }
  
  .assessment input[type="radio"]:checked + label {
    outline: none;
    background: #fff;
  }
  .assessment input[type='radio']:checked + label + .tab {
    outline: none;
    display: block;
    width: auto;
  }
  
  .assessment input[type="radio"]:checked + label {
    outline: none;
    background: #fff;
    position: initial;
  }
  .assessment input[type='radio']:checked + label + .tab {
    outline: none;
    display: block;
    width: auto;
  }
  
  
  /*so the quiz doesn't move below test*/
  #quizTab {
    position: relative;
    top: -353px;
    right: -73px;
  }
  .assessment label[for='quizTab'] {
    position: relative;
    top: -353px;
    right: -71.5px;
  }
  
  /*move quiz back when it is selected*/
  #quizTab:checked {
    position: initial;
  }
  
  
  /*show the radio buttons*/
  .task input[type='radio'] {
    display: inline ;
  }
  /*get rid of the grey background*/
  .task label{
    padding: 4px;
    padding-right: 20px;
    background: white;
    display: inline-block !important;
  }
  
  .task input[type="radio"]:checked + label {
    outline: none;
    background: #fff;
  }
  .task input[type='radio']:checked + label + .tab {
    outline: none;
    display: block;
    width: auto;
  }
  
  .task input[type="radio"]:checked + label {
    outline: none;
    background: #fff;
    position: initial;
  }
  .task input[type='radio']:checked + label + .tab {
    outline: none;
    display: block;
    width: auto;
  }
  
  
  /*so the quiz doesn't move below test*/
  #personalTab {
    position: relative;
    top: -620px;
    right: -117px;
  }
  .task label[for='personalTab'] {
    position: relative;
    top: -620px;
    right: -115.5px;
  }
  
  /*move quiz back when it is selected*/
  #personalTab:checked {
    position: initial;
  }
  
    
  .btn {
    background-color: #555;
    color: white;
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .alert .alert-link {
    font-weight: bold;
  }
  
  .alert > p,
  .alert > ul {
    margin-bottom: 0;
  }
  
  .alert > p + p {
    margin-top: 5px;
  }
  
  .alert-dismissable,
  .alert-dismissible {
    padding-right: 35px;
  }
  
  .alert-dismissable .close,
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
  
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
  .alert-success hr {
    border-top-color: #c9e2b3;
  }
  
  .alert-success .alert-link {
    color: #2b542c;
  }
  
  .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }
  
  .alert-info hr {
    border-top-color: #a6e1ec;
  }
  
  .alert-info .alert-link {
    color: #245269;
  }
  
  .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  
  .alert-warning hr {
    border-top-color: #f7e1b5;
  }
  
  .alert-warning .alert-link {
    color: #66512c;
  }
  
  .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  
  .alert-danger hr {
    border-top-color: #e4b9c0;
  }
  
  .alert-danger .alert-link {
    color: #843534;
  }