.title, .subtitle {
    text-align: center;
    margin-bottom: 0px;
  }

  /* This is the surrounding grey box */
  #input-field {
    outline: 2px solid rgb(211, 206, 206);
    width: 600px;
    height: auto;
    box-shadow: 5px 5px 5px 1px #cccccc;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
  }
  
  .mytabs {
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
    padding: 25px;
    /* justify-content: center;
    text-align: center; */
  }
  /*This hides the radio button!*/
  .mytabs input[type="radio"] {
    display: none;
  }

  #aftertitle {
    margin-left: 10px;
    margin-top: 1px;
    font-size: large;
  }

  h3, h4 {
    float: left;
    display:contents;
}

.btn {
  background-color: #555;
  color: white;
  font-size: 14px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
  

  .btn #viewAll {
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left: 49%;
  margin-bottom: 10px;
}

#deleteBtn {
  position: relative;
  top: -63px;
  left: 80px;
}

#deleteBtnQ {
  position: relative;
  top: -79px;
  left: 80px;
}
  
  